{% extends 'base.html' %}
{% load static %}
{% block contenedor %}

<h1>
    Bienvenido {{ user.username }}. Inbox
</h1>
<form method="post">
    {% csrf_token %}
    {{ seleccionar_usuarios }}
    <button type="submit">Enviar Mensaje</button>
</form>
{% for canal in inbox %}
<div class="div_inbox">

    {% for canal_usuario in canal.canalusuario_set.all %}
    
        {% if canal_usuario.usuario != request.user %}
            <a href="{% url 'detailms' canal_usuario.usuario.username %}">
                <p>
                    {{ canal_usuario.usuario.username }}
                </p>
                <small>
                    ({{ canal.canalmensaje_set.count }}) Mensajes
                </small>
            </a>
        {% endif %}
    
    {% endfor %}

    {% if canal.canalmensaje_set.count != 0 %}
        <div class="div_ms_inbox">

            {% with ultimo_mensaje=canal.canalmensaje_set.last %}
                <p>Mensaje: {{ ultimo_mensaje.texto }}</p>
                <p>Usuario: {{ ultimo_mensaje.usuario.username }}</p>
            {% endwith %}
        </div>
    {% else %}
        <p>
            No hay mensajes en este canal
        </p>
    {% endif %}

</div>
{% empty %}

<h2>
    Inbox Vacío
</h2>

{% endfor %}

<style>
    .div_inbox {
        width: 90%;
        margin: 10px auto;
        background: #fff;
        border-radius: 5px;
        border: 1px solid #e6e6e6;
        padding: 5px;
    }
</style>

{% endblock %}